<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >市总工会活动平台小程序接口</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" th:href="@{/css/marster.css(20201213)}">
    <link rel="stylesheet" th:href="@{/css/new-marster.css}">
</head>
<body>
<div style="text-align: center; font-size: 14px;">
    <span>Please try again later</span>
</div>
</body>
</html>
