<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yitu.cpcFounding.api.mapper.QuestionLibraryMapper">
    <resultMap id="BaseResultMap" type="com.yitu.cpcFounding.api.domain.QuestionLibrary">
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="answer" column="answer"/>
        <id property="answerAnalysis" column="answer_analysis"/>
        <id property="addDate" column="add_date"/>
        <id property="addUser" column="add_user"/>
        <id property="modifyDate" column="modify_date"/>
        <id property="modifyUser" column="modify_user"/>
        <id property="ip" column="ip"/>
        <id property="deleted" column="deleted"/>

    </resultMap>

    <resultMap id="RandomListResultMap" type="com.yitu.cpcFounding.api.vo.answer.LsQuestionLibraryVO">
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="answer" column="answer"/>
        <id property="answerAnalysis" column="answer_analysis"/>
    </resultMap>
    <!--随机获取答题列表-->
    <select id="getRandomList" resultMap="RandomListResultMap">
        select id,title,answer,answer_analysis from question_library
        where deleted=0 order by rand() limit #{count}
    </select>
</mapper>