<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yitu.cpcFounding.api.mapper.UserAnswerMapper">
    <resultMap id="BaseResultMap" type="com.yitu.cpcFounding.api.domain.UserAnswer">
        <id property="id" column="id"/>
        <id property="questionId" column="question_id"/>
        <id property="answer" column="answer"/>
        <id property="answerNumber" column="answer_number"/>
        <id property="isCorrect" column="is_correct"/>
        <id property="addDate" column="add_date"/>
        <id property="addUser" column="add_user"/>
        <id property="modifyDate" column="modify_date"/>
        <id property="modifyUser" column="modify_user"/>
        <id property="ip" column="ip"/>
        <id property="deleted" column="deleted"/>

    </resultMap>
    <!-- 获取答题次数-->
    <select id="getUserAnswerCount" resultType="java.lang.Long">
        select count(1)
        from user_answer
        where deleted = 0
    </select>

    <!-- 获取答题最近人的头像列表-->
    <select id="getUserAnswerHeadPic" resultType="java.lang.String">
        select distinct wx_head_pic
        from user_answer a
                 inner join user u on a.user_id = u.id
        where a.deleted = 0
          and u.wx_head_pic !=''
        order by a.id desc limit 5
    </select>

    <select id="selectTimesOfDayByUserId" resultType="int">
        select count(*)
        from user_answer
        where deleted = 0
          and user_id = #{id}
          and DATE_FORMAT(add_date, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    </select>
</mapper>